{{> head }}
{{> navbar }}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-8">
            <h1>Paisaje digital</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint, porro veritatis error eaque incidunt quidem maiores. Quam ratione necessitatibus, reprehenderit deleniti libero adipisci, ad cupiditate consectetur nemo ea quis!</p>
        </div>
        <div class="col-md-4">
            <img src="assets/img/fondo.jpg" class="img-thumbnail">
        </div>
    </div>
</div>
{{> footer }}